<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true"
	internalLogLevel="Warn"
	internalLogFile="C:\Logging\ePixelation.Scaffold\_internal.txt">

	<variable name="logLayout" value="${longdate}|${logger}|${uppercase:${level}}${newline}${message}${newline}${exception:format=method,tostring,stacktrace}${newline}"/>
	<variable name="productName" value="ePixelation.Scaffold"/>

	<targets>

		<!-- FOR LOCAL DEBUGGING -->
		<target xsi:type="File"
				name="file"
				layout="${logLayout}"
				fileName="C:/Logging/${productName}/logfile.txt"
				archiveFileName="C:/Logging/${productName}/archives/log.{#}.txt"
				archiveEvery="Day"
				archiveNumbering="Date"
				maxArchiveFiles="30"
				concurrentWrites="true"
				keepFileOpen="false"
				encoding="iso-8859-2" />

		<target xsi:type="Null" name="blackhole" />
	</targets>

	<rules>
		<!--Skip Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
		
		
		<logger name="*" minlevel="Info" writeTo="file" />
		<logger name="*" minlevel="Info" writeTo="eventlog" />
	</rules>
</nlog>