FakesAssemblies
ODS/MessageQueue/MessageQueue.local.rgavrilov.publish.xml
ODS/Stage/Stage.local.rgavrilov.publish.xml
Build Projects/Application
Build Projects/Database
.paket/paket.exe
**/node_modules
**/bin
**/obj
.vs
packages
**/UpgradeLog.htm
dist
build
pkg
*.user
*.jfm
Backup